Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [427]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\praja\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\praja\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\praja\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\praja\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\praja\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\praja\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\praja\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\praja\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\praja\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\praja\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\praja\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\praja\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [428]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [429]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [430]:
url = 'https://www.naukri.com/'
driver.get(url)

In [431]:
job = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
job

In [432]:
job.send_keys('Data Analyst')

In [433]:
location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
location

In [434]:
location.send_keys('Banglore')

In [435]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [436]:
search_btn.click()

In [437]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [438]:
job_titles = []

for i in job_title:
    job_titles.append(i.text)
job_titles

['Hiring Data Analyst For Global Logic-Immediate Joiner',
 'Senior Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Analyst / Sr. Data Analyst',
 'Senior Data Analyst - CRM',
 'Senior Data Analyst - Supporting Audits',
 'Research - Data Analyst / Associate',
 'Data Analyst 1',
 'SAM Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Hiring For Data Analyst',
 'Business Analyst - Telecom Data Migration',
 'Senior Data Analyst',
 'Senior Data Analyst - CRM',
 'Data Analyst']

In [439]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [440]:
company_name = []
for i in company:
    company_name.append(i.text)
company_name

['GlobalLogic',
 'Flipkart',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited',
 'Axim Technologies',
 'Vmware',
 'Gojek Tech',
 'Visa',
 'AXL HR Tech',
 'Optum Global Solutions (India) Private Limited',
 'Nokia',
 'Zolostays Property Solutions Pvt. Ltd.',
 'Artech infosystem',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'NetCracker',
 'Walmart',
 'GO-JEK India',
 'Snaphunt']

In [441]:
locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn)

20

In [442]:
location = []
for i in locn:
    location.append(i.text)
location

['Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [443]:
expr = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(expr)

20

In [444]:
experience = []
for i in expr:
    experience.append(i.text)
experience

['4-8 Yrs',
 '4-6 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '12-14 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '1-2 Yrs',
 '2-3 Yrs',
 '1-6 Yrs',
 '1-2 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '9-14 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '0-2 Yrs']

In [445]:
jobs = pd.DataFrame()
jobs['Job Titles'] = job_titles
jobs['Company Name'] = company
jobs['Experience'] = experience
jobs['Location'] = location
jobs[0:10]

,Job Titles,Company Name,Experience,Location
0,Hiring Data Analyst For Global Logic-Immediate...,<selenium.webdriver.remote.webelement.WebEleme...,4-8 Yrs,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo..."
1,Senior Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,4-6 Yrs,Bengaluru/Bangalore
2,Junior Data Analyst/ Scientist- Fresher Position,<selenium.webdriver.remote.webelement.WebEleme...,0-3 Yrs,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru..."
3,Assistant Clinical Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,0-2 Yrs,Bangalore/Bengaluru
4,Lead - Data Analyst / Scientist,<selenium.webdriver.remote.webelement.WebEleme...,12-14 Yrs,Bangalore/Bengaluru
5,Data Analyst / Sr. Data Analyst,<selenium.webdriver.remote.webelement.WebEleme...,3-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst - CRM,<selenium.webdriver.remote.webelement.WebEleme...,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst - Supporting Audits,<selenium.webdriver.remote.webelement.WebEleme...,5-8 Yrs,Bangalore/Bengaluru
8,Research - Data Analyst / Associate,<selenium.webdriver.remote.webelement.WebEleme...,0-2 Yrs,"Mumbai, Delhi / NCR, Bangalore/Bengaluru"
9,Data Analyst 1,<selenium.webdriver.remote.webelement.WebEleme...,4-9 Yrs,Bangalore/Bengaluru

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [446]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [447]:
url = 'https://www.naukri.com/'
driver.get(url)

In [448]:
job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job

In [449]:
job.send_keys('Data Scientist')

In [450]:
location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location

In [451]:
location.send_keys('Bangalore')

In [452]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [453]:
search_btn.click()

In [454]:
job = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job)

20

In [455]:
job_title = []
for i in job:
    job_title.append(i.text)
job_title

['Senior Data Scientist /Senior Software Engineer',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Sr . Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Senior/Lead Data Scientist - (Revenue Management)',
 'Senior/Lead - Data Scientist (Supply Chain)',
 'Sr. Associate Data Scientist',
 'Associate Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-Supply Chain Analytics-Chainalytics,Bangalore',
 'Data Scientist',
 'Academic Counsellor- Data Scientist',
 'Junior Programmer - Data Scientist']

In [456]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [457]:
company_name = []
for i in company:
    company_name.append(i.text)
company_name

['Terawe Technologies Pvt. Ltd.',
 'IBM',
 'IBM',
 'Harman Connected Services Corporation India Pvt.',
 'Slice',
 'Siemens',
 'Dell',
 'Dell',
 'Altimax Business Solutions',
 'o9 Solutions Management India Private Limited',
 'o9 Solutions Management India Private Limited',
 'CHANGE LEADERS CONSULTING',
 'Shell',
 'Samya.AI A FRACTAL Entity',
 'Rakuten, Inc.',
 'Advito',
 'CHAINALYTICS SERVICES PRIVATE LIMITED',
 'BCD Travel',
 'AcadsHR',
 'GSK India']

In [458]:
locn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn)

20

In [459]:
location = []
for i in locn:
    location.append(i.text)
location

['Kochi/Cochin, Hyderabad/Secunderabad, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [460]:
jobs = pd.DataFrame()
jobs['Job Titles'] = job_title
jobs['Company Name'] = company_name
jobs['Location'] = location
jobs[0:10]

,Job Titles,Company Name,Location
0,Senior Data Scientist /Senior Software Engineer,Terawe Technologies Pvt. Ltd.,"Kochi/Cochin, Hyderabad/Secunderabad, Bangalor..."
1,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
2,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
3,Sr . Data Scientist,Harman Connected Services Corporation India Pvt.,Bangalore/Bengaluru
4,Senior Data Scientist,Slice,Bangalore/Bengaluru
5,Sr Data Scientist,Siemens,Bangalore/Bengaluru
6,Senior Data Scientist,Dell,Bangalore/Bengaluru
7,Senior Data Scientist,Dell,Bangalore/Bengaluru
8,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor..."
9,Senior/Lead Data Scientist - (Revenue Management),o9 Solutions Management India Private Limited,Bangalore/Bengaluru

In this question you have to scrape data using the filters available on the webpage as shown below:

In [461]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [462]:
url = 'https://www.naukri.com/'
driver.get(url)

In [463]:
job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job

In [464]:
job.send_keys('Data Scientist')

In [465]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [466]:
search_btn.click()

In [472]:
locatn = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/p/span[1]')
locatn

In [473]:
locatn.click()

In [474]:
salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary

In [475]:
salary.click()

In [476]:
job = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job)

20

In [477]:
job_title = []

for i in job:
    job_title.append(i.text)
job_title

['Data Scientist / Senior DS/ Team Lead',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Hiring For Data Analyst / Data Scientist',
 'Senior Data Scientist I',
 'Data Scientist',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Openings For Jr/mid/Sr level data Scientists',
 'Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Scientist role',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist']

In [478]:
company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [479]:
company_name = []

for i in company:
    company_name.append(i.text)
company_name

['NebulARC Technologies Private Limited',
 'HCL',
 'Careerera',
 'Delhivery',
 'Core Diagnostics Private Limited',
 'Schlesinger Group',
 'Pluto seven business solutions (p) limited',
 'T & A Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'iHackers Inc',
 'Teleperformance',
 'Country Veggie',
 'GABA Consultancy services',
 'Boston Consulting Group',
 'iNICU',
 'Sentieo']

In [480]:
locatn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locatn)

20

In [481]:
location = []
for i in locatn:
    location.append(i.text)
location

['Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Delhi / NCR',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram(Uday Nagar)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'New Delhi',
 'Gurgaon/Gurugram, Chennai',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Noida, New Delhi, Delhi / NCR',
 'New Delhi',
 'Delhi',
 'Delhi']

In [482]:
exprn = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exprn)

20

In [483]:
experience = []
for i in exprn:
    experience.append(i.text)
experience

['0-4 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '0-1 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '2-7 Yrs']

In [484]:
jobs = pd.DataFrame()
jobs['Job Titles'] = job_title
jobs['Company Name'] = company_name
jobs['Location'] = location
jobs['Experience'] = experience
jobs[0:10]

,Job Titles,Company Name,Location,Experience
0,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",0-4 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,Delhi / NCR,2-6 Yrs
2,Hiring For Data Analyst / Data Scientist,Careerera,Noida(Sector-59 Noida),2-5 Yrs
3,Senior Data Scientist I,Delhivery,Gurgaon/Gurugram,3-7 Yrs
4,Data Scientist,Core Diagnostics Private Limited,Gurgaon/Gurugram(Uday Nagar),2-7 Yrs
5,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-3 Yrs
6,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",2-6 Yrs
7,Data Scientist,T & A Solutions,Gurgaon/Gurugram,2-6 Yrs
8,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-6 Yrs
9,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-6 Yrs

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [485]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [486]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [487]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [488]:
search.send_keys('sunglasses')

In [489]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [490]:
search_btn.click()

In [549]:
pgbr1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(pgbr1)

40

In [550]:
B1 = []

for i in pgbr1:
    B1.append(i.text)
B1

['Kanishka',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'Elligator',
 'SRPM',
 'kingsunglasses',
 'VILLAIN',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'New Specs',
 'PIRASO',
 'SUNBEE',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'AISLIN',
 'kingsunglasses',
 'ROYAL SON',
 'Elligator',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'hipe',
 'ROZZETTA CRAFT',
 'New Specs',
 'Lee Topper',
 'PHENOMENAL',
 'AISLIN',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'AISLIN',
 'ROZZETTA CRAFT',
 'agera',
 'New Specs',
 'AISLIN']

In [551]:
prd1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prd1)

40

In [552]:
prdct1 = []
for i in prd1:
    prdct1.append(i.text)
prdct1

['UV Protection Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (58)']

In [553]:
pr1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr1)

40

In [554]:
price1 = []

for i in pr1:
    price1.append(i.text)
price1

['₹145',
 '₹1,179',
 '₹200',
 '₹609',
 '₹248',
 '₹198',
 '₹188',
 '₹522',
 '₹165',
 '₹200',
 '₹309',
 '₹499',
 '₹262',
 '₹190',
 '₹271',
 '₹1,179',
 '₹383',
 '₹200',
 '₹359',
 '₹472',
 '₹289',
 '₹449',
 '₹189',
 '₹426',
 '₹181',
 '₹273',
 '₹178',
 '₹348',
 '₹259',
 '₹276',
 '₹299',
 '₹679',
 '₹299',
 '₹549',
 '₹299',
 '₹698',
 '₹474',
 '₹196',
 '₹233',
 '₹487']

In [555]:
disct1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct1)

40

In [556]:
discount1 = []
for i in disct1:
    discount1.append(i.text)
discount1

['87% off',
 '41% off',
 '87% off',
 '32% off',
 '90% off',
 '84% off',
 '81% off',
 '47% off',
 '90% off',
 '87% off',
 '84% off',
 '75% off',
 '83% off',
 '88% off',
 '84% off',
 '41% off',
 '80% off',
 '87% off',
 '76% off',
 '69% off',
 '81% off',
 '70% off',
 '87% off',
 '80% off',
 '81% off',
 '86% off',
 '85% off',
 '84% off',
 '87% off',
 '88% off',
 '85% off',
 '72% off',
 '88% off',
 '31% off',
 '85% off',
 '78% off',
 '78% off',
 '82% off',
 '82% off',
 '80% off']

In [557]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [558]:
next_btn.click()

In [559]:
pgbr2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(pgbr2)

40

In [560]:
B2 = []

for i in pgbr2:
    B2.append(i.text)
B2

['Singco India',
 'Rich Club',
 'ROZZETTA CRAFT',
 'VILLAIN',
 'Lee Topper',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'ROYAL SON',
 'DEIXELS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'hipe',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'maxa',
 'ROZZETTA CRAFT',
 'hipe',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Fastrack',
 'Lee Topper',
 'Elligator',
 'ROZZETTA CRAFT',
 'SRPM',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'AISLIN',
 'Singco',
 'Rich Club',
 'Billion',
 'LAURELS',
 'PHENOMENAL',
 'ROYAL SON',
 'kingsunglasses',
 'AISLIN']

In [561]:
prd2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prd2)

40

In [562]:
prdct2 = []
for i in prd2:
    prdct2.append(i.text)
prdct2

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored, Riding Glasses, Night Vision, ...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Retro Square Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...']

In [563]:
pr2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr2)

40

In [564]:
price2 = []

for i in pr2:
    price2.append(i.text)
price2

['₹599',
 '₹165',
 '₹360',
 '₹549',
 '₹199',
 '₹869',
 '₹265',
 '₹1,179',
 '₹359',
 '₹229',
 '₹349',
 '₹426',
 '₹549',
 '₹359',
 '₹179',
 '₹426',
 '₹719',
 '₹201',
 '₹144',
 '₹426',
 '₹209',
 '₹192',
 '₹349',
 '₹459',
 '₹575',
 '₹375',
 '₹291',
 '₹426',
 '₹207',
 '₹348',
 '₹227',
 '₹472',
 '₹498',
 '₹163',
 '₹224',
 '₹246',
 '₹287',
 '₹449',
 '₹256',
 '₹1,066']

In [565]:
disct2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct2)

40

In [566]:
discount2 = []
for i in disct2:
    discount2.append(i.text)
discount2

['80% off',
 '66% off',
 '81% off',
 '26% off',
 '80% off',
 '33% off',
 '79% off',
 '41% off',
 '76% off',
 '80% off',
 '86% off',
 '84% off',
 '31% off',
 '76% off',
 '87% off',
 '80% off',
 '20% off',
 '86% off',
 '79% off',
 '88% off',
 '79% off',
 '82% off',
 '82% off',
 '69% off',
 '28% off',
 '71% off',
 '85% off',
 '78% off',
 '79% off',
 '84% off',
 '82% off',
 '69% off',
 '75% off',
 '67% off',
 '77% off',
 '79% off',
 '85% off',
 '70% off',
 '87% off',
 '74% off']

In [567]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn

In [568]:
next_btn.click()

In [569]:
pgbr3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(pgbr3)

40

In [570]:
B3 = []
for i in pgbr3:
    B3.append(i.text)
B3 = B3[0:20]
B3

['PHENOMENAL',
 'Billion',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Rich Club',
 'PIRASO',
 'ROYAL SON',
 'AISLIN',
 'GANSTA',
 'kingsunglasses',
 'Elligator',
 'Flizz',
 'ROZZETTA CRAFT',
 'Fastrack',
 'hipe',
 'Freddy',
 'ROYAL SON',
 'Urbanic',
 'ROYAL SON',
 'VINCENT CHASE']

In [571]:
prd3 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prd3)

39

In [572]:
prdct3 = []
for i in prd3:
    prdct3.append(i.text)
prdct3 = prdct3[0:20]
prdct3

['UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses, Nigh...',
 'Mirrored Aviator Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Butterfly Sunglasses (57)']

In [573]:
pr3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr3)

40

In [574]:
price3 = []

for i in pr3:
    price3.append(i.text)
price3 = price3[0:20]
price3

['₹287',
 '₹224',
 '₹200',
 '₹499',
 '₹220',
 '₹261',
 '₹449',
 '₹498',
 '₹209',
 '₹256',
 '₹239',
 '₹354',
 '₹426',
 '₹639',
 '₹189',
 '₹253',
 '₹359',
 '₹359',
 '₹359',
 '₹1,179']

In [575]:
disct3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct3)

40

In [576]:
discount3 = []
for i in disct3:
    discount3.append(i.text)
discount3 = discount3[0:20]
discount3

['85% off',
 '77% off',
 '87% off',
 '75% off',
 '72% off',
 '83% off',
 '70% off',
 '67% off',
 '88% off',
 '87% off',
 '88% off',
 '83% off',
 '84% off',
 '20% off',
 '85% off',
 '80% off',
 '76% off',
 '54% off',
 '76% off',
 '41% off']

In [577]:
brand = B1+B2+B3
len(brand)

100

In [578]:
product = prdct1+prdct2+prdct3
len(product)

100

In [579]:
price = price1+price2+price3
len(price)

100

In [580]:
discount = discount1+discount2+discount3
len(discount)

100

In [581]:
sunglass = pd.DataFrame()
sunglass['Brand'] = brand
sunglass['Product description'] = product
sunglass['Price'] = price
sunglass['Discount'] = discount
sunglass

,Brand,Product description,Price,Discount
0,Kanishka,UV Protection Aviator Sunglasses (55),₹145,87% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179",41% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹609,32% off
4,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
...,...,...,...,...
95,Freddy,Mirrored Aviator Sunglasses (55),₹253,80% off
96,ROYAL SON,Others Retro Square Sunglasses (Free Size),₹359,76% off
97,Urbanic,Mirrored Aviator Sunglasses (Free Size),₹359,54% off
98,ROYAL SON,"by Lenskart Polarized, UV Protection Aviator S...",₹359,76% off
99,VINCENT CHASE,"UV Protection, Gradient Butterfly Sunglasses (57)","₹1,179",41% off

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link

In [582]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [583]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [586]:
result = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
result

In [587]:
result.click()

In [588]:
rt1 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt1)

10

In [589]:
rate1 = []

for i in rt1:
    rate1.append(i.text)
rate1

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [590]:
 sum1 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
 len(sum1)

10

In [591]:
summary1 = []
for i in sum1:
    summary1.append(i.text)
summary1

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [592]:
rev1 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev1)

10

In [593]:
review1 = []
for i in rev1:
    review1.append(i.text.replace('\n',','))
review1

['The Best Phone for the Money,,The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.,,Compelling ultra-wide camera,New Night mode is excellent,Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.,Pros,-Camera top class,- Battery top performed,-Chipset no need to say as apple kind,-Security as you expect from apple,- Display super bright industry leading colour,accuracy and super responsive,-Build quality as expect from apple sturdy,premium durable beautiful stylish.,-Os most stable os in smartphone industry,,Cons,-No 5G,-Display is not based on OLED technology,-Charger headphones and 1 apple stic...,READ MORE',
 'Previously I was using one plus 3t it was a great phone,And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11,I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display,But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red,My experience after using 3 weeks,1. The delivery ...,READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.,,I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.,,I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.,,Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.,,I’ve attached my puppy pics and no fi...,READ MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [594]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_btn

In [595]:
next_btn.click()

In [596]:
rt2 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt2)

10

In [597]:
rate2 = []
for i in rt2:
    rate2.append(i.text)
rate2

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [598]:
sum2 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum2)

10

In [599]:
summary2 = []
for i in sum2:
    summary2.append(i.text)
summary2

['Brilliant',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [600]:
rev2 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev2)

10

In [601]:
review2 = []
for i in rev2:
    review2.append(i.text.replace('\n',','))
review2

['The Best Phone for the Money,,The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.,,Compelling ultra-wide camera,New Night mode is excellent,Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.,Pros,-Camera top class,- Battery top performed,-Chipset no need to say as apple kind,-Security as you expect from apple,- Display super bright industry leading colour,accuracy and super responsive,-Build quality as expect from apple sturdy,premium durable beautiful stylish.,-Os most stable os in smartphone industry,,Cons,-No 5G,-Display is not based on OLED technology,-Charger headphones and 1 apple stic...,READ MORE',
 'Previously I was using one plus 3t it was a great phone,And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11,I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display,But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red,My experience after using 3 weeks,1. The delivery ...,READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.,,I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.,,I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.,,Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.,,I’ve attached my puppy pics and no fi...,READ MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [604]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [605]:
next_btn.click()

In [606]:
rt3 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt3)

10

In [607]:
rate3 = []
for i in rt3:
    rate3.append(i.text)
rate3

['5', '5', '4', '5', '5', '5', '4', '5', '5', '5']

In [608]:
sum3 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]') 
len(sum3)

10

In [609]:
summary3 = []
for i in sum3:
    summary3.append(i.text)
summary3

['Wonderful',
 'Terrific',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Good choice',
 'Must buy!',
 'Perfect product!',
 'Wonderful']

In [610]:
rev3 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev3)

10

In [611]:
review3 = []
for i in rev3:
    review3.append(i.text.replace('\n',','))
review3

['This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.,Camera is superb and wide angle camera is very clear.,12MP selfie camera is also very good.,A13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!!,A big and worthy upgrade from mi 3S to iphone 11 .,Totally loved it !',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-,1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.,2) iPhone 11 series have really good cameras... others have spoken in depth about them.,3) bat...,READ MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone,Clean box 📦 good 👍 delivery 👌 fast delivery,Original box Original iphone 📱 👌 😍😍😍',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage,,This review I have written from iPhone 11 only and I am glad to say outside.,,Cons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.,No assistive touch control button in it,No oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...,READ MORE',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.,Camera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.,I will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.,,Only one thing that I dislike abo...,READ MORE']

In [612]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [613]:
next_btn.click()

In [614]:
rt4 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
len(rt4)

10

In [615]:
rate4 = []
for i in rt4:
    rate4.append(i.text)
rate4

['5', '5', '5', '5', '5', '5', '5', '4', '1', '5']

In [616]:
sum4 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum4)

10

In [617]:
summary4 = []
for i in sum4:
    summary4.append(i.text)
summary4

['Terrific purchase',
 'Simply awesome',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Classy product']

In [618]:
rev4 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev4)

10

In [619]:
review4 = []
for i in rev4:
    review4.append(i.text.replace('\n',','))
review4

['Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...,READ MORE',
 'The built quality is not very premium.,The battery back is great .,The LCD panel is not so sharp but the brightness level is very High .,Camera is super duper awesome.,The red colour which people think is bright is actually very soothing and excellent colour to choose from .,The A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .,Camera module is very great and looks very stylish.',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...,READ MORE',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...,READ MORE',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.,,Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!,,The phone is great and does excellent RAM management like any other Apple device.,,The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...,READ MORE']

In [620]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [621]:
next_btn.click()

In [707]:
rt5 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt5)

10

In [708]:
rate5 = []
for i in rt5:
    rate5.append(i.text)
rate5

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [709]:
sum5 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum5)

10

In [710]:
summary5 = []
for i in sum5:
    summary5.append(i.text)
summary5

['Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product']

In [711]:
rev5 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev5)

10

In [712]:
review5 = []
for i in rev5:
    review5.append(i.text.replace('\n',','))
review5

['It is just awesome mobile for this price from Apple,,,After 10 days review,,Battery enough for 1 day even 24*7 Internet will be on and mostly internet usage,,Camera is just awesome cool , android 64 MP is equal to this just 12 MP,,A13 Bionic chip will give more high performance without hanging,,Audio stereo speakers will give Dolby atoms sound with crystal clear,,Video recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone,iPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...,READ MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...,READ MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine,Highlights;,1.Camera: 5 STAR,2.Video Recording: 5 star,3.Night mODE sHOOTING & Camera:4 star,4. Audio Quality: Awesome,5. Battery : 5 Star,6. Touch:5 Star,7. Processor: Very Fast,The M...,READ MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.,,And I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.,,1. iPhone 11 is a pretty solid phone for the money you are paying.,2. All the bad reviews about the display is confusing. It’s not that bad.,3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.,4. Performance is one of the best, if not best, in ...,READ MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.,,Below ar...,READ MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.,,P.S the black is more of a dark grey shade and not jet black']

In [628]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [629]:
next_btn.click()

In [630]:
rt6 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt6)

10

In [631]:
rate6 = []
for i in rt6:
    rate6.append(i.text)
rate6

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [632]:
sum6 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum6)

10

In [633]:
summary6 = []
for i in sum6:
    summary6.append(i.text)
summary6

['Perfect product!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Great product',
 'Very Good',
 'Classy product']

In [634]:
rev6 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev6)

10

In [635]:
review6 = []
for i in rev6:
    review6.append(i.text.replace('\n',','))
review6

['It is just awesome mobile for this price from Apple,,,After 10 days review,,Battery enough for 1 day even 24*7 Internet will be on and mostly internet usage,,Camera is just awesome cool , android 64 MP is equal to this just 12 MP,,A13 Bionic chip will give more high performance without hanging,,Audio stereo speakers will give Dolby atoms sound with crystal clear,,Video recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone,iPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...,READ MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...,READ MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine,Highlights;,1.Camera: 5 STAR,2.Video Recording: 5 star,3.Night mODE sHOOTING & Camera:4 star,4. Audio Quality: Awesome,5. Battery : 5 Star,6. Touch:5 Star,7. Processor: Very Fast,The M...,READ MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.,,And I’m posting this review after using it for 4 days.',
 'Superfast delivery by Flipkart. Thanks.,,1. iPhone 11 is a pretty solid phone for the money you are paying.,2. All the bad reviews about the display is confusing. It’s not that bad.,3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation.,4. Performance is one of the best, if not best, in ...,READ MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.,,Below ar...,READ MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.,,P.S the black is more of a dark grey shade and not jet black']

In [636]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [637]:
next_btn.click()

In [673]:
rt7 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
len(rt7)

10

In [674]:
rate7 = []
for i in rt7:
    rate7.append(i.text)
rate7

['5', '5', '1', '5', '5', '5', '4', '5', '5', '5']

In [675]:
sum7 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum7)

10

In [676]:
summary7 = []
for i in sum7:
    summary7.append(i.text)
summary7

['Awesome',
 'Perfect product!',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase']

In [677]:
rev7 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev7)

10

In [678]:
review7 = []
for i in rev7:
    review7.append(i.text.replace('\n',','))
review7

['Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',
 'Value for money,5 star rating,Excellent camera,Battery backup full day in single charge.,,Tougher and water resistant design, glossy back.,The screen has excellent brightness and contrast.,Apple A13 Bionic is the fastest smartphone chip on the planet.,Excellent battery life, fast charging support.,Stereo speakers with great quality.',
 'Please DONT buy from here,,,I purchased Apple iPhone 11. with an exchange of IPhone 7, the exchange did not go well, iPhone 7 had a small scratch out side screen which i could never identify till date, but the FLIPKART person could, so he reduced 50% from exchange rate. I decided not to trade in, but paid money.,,iPhone 11 Detail Below,---------------------------------------------,It came with no charging, then i have put for charging, it took lot of time for charging, the phone also showe...,READ MORE',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "Just got this iphone 11,And it is most powerful mobile phone I have used ever,,So,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip,,That's my review about this phone but yours can be differ from me....",
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'Amazing phone and on great deal I received with super fast delivery by Flipkart...',
 'finally an iPhone with very nice battery backup. update from iPhone 7 and happy to have it. camera is not up to the mark in low light but overall a recommended phone if your budget allows 😀']

In [681]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [682]:
next_btn.click()

In [683]:
rt8 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
len(rt8)

10

In [684]:
rate8 = []
for i in rt8:
    rate8.append(i.text)
rate8

['4', '5', '5', '5', '5', '4', '5', '1', '5', '5']

In [685]:
sum8 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum8)

10

In [686]:
summary8 = []
for i in sum8:
    summary8.append(i.text)
summary8

['Good quality product',
 'Terrific',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Just wow!',
 'Worthless',
 'Super!',
 'Excellent']

In [687]:
rev8 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev8)

10

In [688]:
review8 = []
for i in rev8:
    review8.append(i.text.replace('\n',','))
review8

["I'm switching this phone to oppo reno 10x zoom,It's really impressive,Rarely I'm missing smooth display touch response like oppo reno but,I really loved it.,Camera really impressive",
 'Simply Awesome,,I have upgraded from iPhone 7 to iPhone 11.,,3110 mah Battery is good. I am not a heavy gamer. For official purpose, this is better than 12 mini.,,Totally impressed with battery performance.',
 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good',
 'Worth the money’ starting first from its performance it beats out all phones , second the smoothness of camera is awesome, contrast ratio is much than expected. Price will not matter if u r a quality person, if not other phones are available with better discount',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "I'm Really happy with the product,Delivery was fast as well,..it was a gift for my sister and she loved it so much.",
 'Great iphone.,I am writing this review after 2 months of usage.,Camera is excellent, especially the nightmode,Display perfect,Battery backup awesome,Sound quality very good,Overall Apple gives you a perfect iphone in this range.,Really in love with iPhone 11',
 "Phone is awesome no doubt. But Camera & Display is not great. Performance is mind blowing.,But the phone is heating too much when charging or when you regularly used. It's experience after using 1 week. It's heating extrem when I play PUBG for 30 minutes.,Go for iPhone 11 pro or 12. Otherwise go for Android phone you will get much better phone in less price.",
 'Did an upgrade from 6s plus to iphone 11.,Ao far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback.,1- Display 9 out of 10,2- Camera 9.5 out of 10,3- Battery 7 out of 10,4- Performance 9.5 out of 10,5- Features & Functions 10 out of 10,6- Outer looks and colour 10 out of 10,Rest i think i will understand after using this for few months.,I will highly recommend you guys if you have budget then you...,READ MORE"]

In [689]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [690]:
next_btn.click()

In [691]:
rt9 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt9)

10

In [692]:
rate9 = []
for i in rt9:
    rate9.append(i.text)
rate9

['5', '4', '5', '5', '5', '5', '5', '5', '4', '5']

In [693]:
sum9 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum9)

10

In [694]:
summary9 = []
for i in sum9:
    summary9.append(i.text)
summary9

['Wonderful',
 'Nice product',
 'Mind-blowing purchase',
 'Classy product',
 'Terrific',
 'Worth every penny',
 'Excellent',
 'Fabulous!',
 'Pretty good',
 'Highly recommended']

In [695]:
rev9 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev9)

10

In [696]:
review9 = []
for i in rev9:
    review9.append(i.text.replace('\n',','))
review9

['Super and marvellous phone look very cute and nice sound. I love this phone i think white is good colur.Excellent camer 5*😍😘♥️♥️',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.",
 'awesome Phone Smooth Touch Too good Sexyy looks one word Awesome',
 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰',
 'I bought iPhone 11 On March 2021, And I am Writing this review after using the phone for 4 Months. I would Say Everything is fine, Top Performance, Nice Camera as Anyone would Expect from any series of iPhone but when the Question comes to Battery it is complicated. The Battery is fully optimised and it comes 3110 mAh capacity but the problem is with the charger. Honestly Apple Removed charger from in Box items in the name of Environment and they are also forcing us to buy any 20W PD 3rd part...,READ MORE',
 'Here is the thing,,The only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.,,I’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.,,Adding to this the ste...,READ MORE',
 "Just go for it.,This phone is really amazing. I ordered it for my wife and we click photos on this thing which are better than dslr. I own OnePlus 6t but it's camera sucks. iPhone is really amazing when it comes to camera. It's worth spending 50k on this. Cons- only display is lcd. While using u don't feel it but if u compare with other phone then u can see difference quite easily.,Changing from Android to iphone is bit difficult coz most of things u don't know but I liked it. Some of the a...,READ MORE",
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face...,READ MORE',
 "I've used this phone for over a month now and here are my takeaways.,I would like to first talk about the best things about this phone and then the cons of it.,,Pros:,This phone is a performance beast. It handles large games and applications effortlessly and you won't find any stutters or lags while playing graphic intensive games like pubg, cod , mortal kombat and asphalt.,,This phone has only 4gb ram and yet the ram management is amazing, it can keep 3 heavy games in memory without reload...,READ MORE",
 'Thanks Flipkart For this amazing deal! I had a dream of owning a iphone since i had known about.,Im very happy with my purchase & it is totally worth it.,Amazing experience all over !!,,Anyone who’s thinking of buying it in 2021, i would simply say go for it without any second thoughts ❤️']

In [697]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_btn

In [698]:
next_btn.click()

In [699]:
rt10 = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(rt10)

10

In [700]:
rate10 = []
for i in rt10:
    rate10.append(i.text)
rate10

['5', '5', '5', '5', '5', '5', '5', '5', '3', '5']

In [701]:
sum10 = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(sum10)

10

In [702]:
summary10 = []
for i in sum10:
    summary10.append(i.text)
summary10

['Excellent',
 'Worth every penny',
 'Fabulous!',
 'Brilliant',
 'Mind-blowing purchase',
 'Just wow!',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Wonderful']

In [703]:
rev10 = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev10)

10

In [704]:
review10 = []
for i in rev10:
    review10.append(i.text.replace('\n',','))
review10

['A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.',
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to,Heavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 .,One thing I didn’t like was that ...,READ MORE',
 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against,I phone 11 and new processor is very fast',
 'The ultimate performance,Camera is superb,The battery backup also very good i never saw iphone gives this much of battery backup,If any one wana buy iphone 11 definitely i will recommend this mobile,It has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is...,READ MORE',
 'I use a Note10+ and have been using both iOS and Android devices.,,Camera has really good features and portraits are super good, better than Samsung flagship. Overall camera setup can still be enhanced and hopeful for better upgrades on software in next release,,Operating system is quite a breeze and user experience of daily usage is very high as compared to Android. I moved to iOS very swiftly in 2 days for all my office work from Note10+,,Battery holds up quite well with 4 hrs of call and ...,READ MORE',
 'The phone is completely good,As far as camera Apple is king of it,And its a beast in performance,And the battery is pretty good too',
 'Everything u ll like it when u use this iPhone. Simple changes only not many to lower models but it’s nice to use. Little heavy compared to previous models like 7,8',
 'Nice value for money good and best price I phone mind blowing camera processor very fast other android mobile I am happy India top selling phone 2020']

In [713]:
rate = rate1+rate2+rate3+rate4+rate5+rate6+rate7+rate8+rate9+rate10
summary = summary1+summary2+summary3+summary4+summary5+summary6+summary7+summary8+summary9+summary10
review = review1+review2+review3+review4+review5+review6+review7+review8+review9+review10
len(rate),len(summary),len(review)

(100, 100, 100)

In [714]:
iphone = pd.DataFrame()
iphone['Rating'] = rate
iphone['Review Summary'] = summary
iphone['Full Review'] = review
iphone

,Rating,Review Summary,Full Review
0,5,Brilliant,"The Best Phone for the Money,,The iPhone 11 of..."
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Just wow!,"The ultimate performance,Camera is superb,The ..."
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,"The phone is completely good,As far as camera ..."
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

In [715]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [716]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [717]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [718]:
search.send_keys('sneakers')

In [729]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [730]:
search_btn.click()

In [731]:
brnd1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brnd1)

40

In [732]:
B1 = []
for i in brnd1:
    B1.append(i.text)
B1

['Echor',
 'RED TAPE',
 'Magnolia',
 'URBANBOX',
 'Labbin',
 'luxury fashion',
 'Stefano Rads',
 'RED TAPE',
 'SCATCHITE',
 'BIRDE',
 'Numenzo',
 'RED TAPE',
 'Shoes Bank',
 'ASTEROID',
 'HOTSTYLE',
 'RED TAPE',
 'Trendmode',
 'Extoes',
 'D-SNEAKERZ',
 'Advick',
 'ganpati traders',
 'World Wear Footwear',
 'Arohi',
 'RED TAPE',
 'RapidBox',
 'Kraasa',
 'Rzisbo',
 'WROGN',
 'Echor',
 'TR',
 'India hub',
 'RED TAPE',
 'CLYMB',
 'Kraasa',
 'ASTEROID',
 'RED TAPE',
 'ESSENCE',
 'Lee Won',
 'Robbie jones',
 'WROGN']

In [733]:
desc1 = driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]') 
len(desc1)

40

In [734]:
description1 = []
for i in desc1:
    description1.append(i.text)
description1

["Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Classy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Classic Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Athleisure Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'FASHION Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [735]:
pr1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr1)

40

In [736]:
price1 = []
for i in pr1:
    price1.append(i.text)
price1

['₹569',
 '₹1,648',
 '₹398',
 '₹220',
 '₹499',
 '₹449',
 '₹242',
 '₹1,258',
 '₹398',
 '₹299',
 '₹426',
 '₹1,708',
 '₹345',
 '₹499',
 '₹299',
 '₹1,678',
 '₹359',
 '₹948',
 '₹348',
 '₹828',
 '₹189',
 '₹199',
 '₹398',
 '₹1,258',
 '₹640',
 '₹444',
 '₹549',
 '₹699',
 '₹499',
 '₹599',
 '₹449',
 '₹1,258',
 '₹649',
 '₹444',
 '₹499',
 '₹1,678',
 '₹399',
 '₹299',
 '₹474',
 '₹699']

In [737]:
disct1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct1)

40

In [738]:
discount1 = []
for i in disct1:
    discount1.append(i.text)
discount1

['43% off',
 '70% off',
 '60% off',
 '77% off',
 '50% off',
 '65% off',
 '65% off',
 '70% off',
 '60% off',
 '40% off',
 '78% off',
 '70% off',
 '65% off',
 '50% off',
 '70% off',
 '70% off',
 '64% off',
 '36% off',
 '47% off',
 '66% off',
 '62% off',
 '60% off',
 '60% off',
 '70% off',
 '35% off',
 '55% off',
 '45% off',
 '65% off',
 '50% off',
 '70% off',
 '65% off',
 '70% off',
 '56% off',
 '55% off',
 '75% off',
 '70% off',
 '60% off',
 '40% off',
 '52% off',
 '65% off']

In [739]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn

In [740]:
next_btn.click()

In [741]:
brnd2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brnd2)

40

In [742]:
B2 = []
for i in brnd2:
    B2.append(i.text)
B2

['BRUTON',
 'BRUTON',
 'believe',
 'ESSENCE',
 'Numenzo',
 'BRUTON',
 'Robbie jones',
 'ESSENCE',
 'BRUTON',
 'Robbie jones',
 'SPARX',
 'JK PORT',
 'DUNKASTON',
 'WOODLAND',
 'aadi',
 'Shoes Icon',
 'Echor',
 'Airland',
 'BIRDE',
 'RED TAPE',
 'World Wear Footwear',
 'HRDK',
 'Kraasa',
 'ASIAN',
 'BRUTON',
 'KANEGGYE',
 'Vellinto',
 'K- FOOTLANCE',
 'URBANBOX',
 'India hub',
 'RapidBox',
 'RED TAPE',
 'Starlinc',
 'WHITE WALKERS',
 'RapidBox',
 'RED TAPE',
 'LE GREEM',
 'ESSENCE',
 'Layasa',
 'RED TAPE']

In [743]:
desc2 = driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
len(desc2)

40

In [744]:
description2 = []
for i in desc2:
    description2.append(i.text)
description2

['Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes and shoes Sneak...',
 'White Sneaker For Men Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sneakers For Men',
 'SM439G Sneakers For Men',
 'Fashionable Mens Grey Casual Shoes, Party Wear Shoe,For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Combo Pack of 2 Casual shoes Sneakers For Men',
 'Classic Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Casual Sneakrs For Men Sneakers For Men',
 'Sneakers For Men',
 'STYLISH-WHITE-9 Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Walking shoes,Casual Sneakers For Men',
 'Sneakers For Men']

In [745]:
pr2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr2)

40

In [746]:
price2 = []
for i in pr2:
    price2.append(i.text)
price2

['₹178',
 '₹715',
 '₹424',
 '₹399',
 '₹407',
 '₹299',
 '₹451',
 '₹399',
 '₹447',
 '₹499',
 '₹799',
 '₹599',
 '₹374',
 '₹1,497',
 '₹399',
 '₹259',
 '₹499',
 '₹190',
 '₹509',
 '₹1,678',
 '₹599',
 '₹367',
 '₹449',
 '₹649',
 '₹530',
 '₹399',
 '₹749',
 '₹440',
 '₹166',
 '₹429',
 '₹630',
 '₹1,379',
 '₹237',
 '₹599',
 '₹630',
 '₹1,409',
 '₹426',
 '₹399',
 '₹399',
 '₹1,258']

In [747]:
disct2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct2)

40

In [410]:
discount2 = []
for i in disct2:
    len(i.text)>0?discount2.append(i.text):discount2.append(null)
discount2

SyntaxError: invalid syntax (Temp/ipykernel_28668/1553603250.py, line 3)

In [276]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_btn

In [277]:
next_btn.click()

In [278]:
brnd3 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brnd3)

40

In [279]:
B3 = []
for i in brnd3:
    B3.append(i.text)
B3 = B3[0:20]
B3

['Layasa',
 'RODDICK SHOES',
 'Zsyto',
 'RED TAPE',
 'BIRDE',
 'WHITE WALKERS',
 'SPARX',
 'RED TAPE',
 'PUMA',
 'Xtoon',
 'ASIAN',
 'Advick',
 'PUMA',
 'World Wear Footwear',
 'Robbie jones',
 'RED TAPE',
 'KNIGHT WALKERS',
 'BIRDE',
 'RapidBox',
 'RED TAPE']

In [282]:
desc3 = driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
len(desc3)

40

In [283]:
description3 = []
for i in desc3:
    description3.append(i.text)
description3 = description3[0:20]
description3

['Walking shoes,Casual Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'SM-482 Sneakers For Men',
 'Sneakers For Men',
 'Glory Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Deco Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Classic Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [284]:
pr3 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(pr3)

40

In [285]:
price3 = []
for i in pr3:
    price3.append(i.text)
price3 = price3[0:20]
price3

['₹399',
 '₹499',
 '₹328',
 '₹1,648',
 '₹509',
 '₹599',
 '₹1,134',
 '₹1,258',
 '₹2,984',
 '₹498',
 '₹649',
 '₹828',
 '₹1,468',
 '₹259',
 '₹474',
 '₹1,678',
 '₹649',
 '₹535',
 '₹680',
 '₹1,258']

In [286]:
disct3 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disct3)

39

In [287]:
discount3 = []
for i in disct3:
    discount3.append(i.text)
discount3 = discount3[0:20]
discount3

['60% off',
 '50% off',
 '74% off',
 '70% off',
 '66% off',
 '50% off',
 '15% off',
 '70% off',
 '66% off',
 '50% off',
 '66% off',
 '51% off',
 '48% off',
 '52% off',
 '70% off',
 '56% off',
 '64% off',
 '31% off',
 '70% off',
 '75% off']

In [288]:
brand = B1+B2+B3
len(brand)

100

In [289]:
description = description1+description2+description3
len(description)

100

In [290]:
price = price1+price2+price3
len(price)

100

In [291]:
discount = discount1+discount2+discount3
len(discount)

98

In [293]:
sneaker = pd.DataFrame()
sneaker['Brand'] = brand
sneaker['Description'] = description
sneaker['Price'] = price
sneaker['Discount'] = discount
sneaker

ValueError: Length of values (98) does not match length of index (100)

Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [749]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [750]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [751]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter

In [752]:
price_filter.click()

In [753]:
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter

In [754]:
color_filter.click()

In [757]:
brnd1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brnd1)

50

In [758]:
br1 = []
for i in brnd1:
    br1.append(i.text)
br1

['Street Style Store',
 'HRX by Hrithik Roshan',
 'Anouk',
 'AfroJack',
 'MENGLER',
 'Nike',
 'ZAPATOZ',
 'mr.wonker',
 'Puma',
 'one8 x PUMA',
 'Fentacia',
 'El Paso',
 'HRX by Hrithik Roshan',
 'HRX by Hrithik Roshan',
 'Ducati',
 'Fentacia',
 'Red Tape',
 'Mactree',
 'Puma',
 'U.S. Polo Assn.',
 'Fentacia',
 'Nike',
 'Puma',
 'Eego Italy',
 'Mactree',
 'HRX by Hrithik Roshan',
 'Puma',
 'AfroJack',
 'El Paso',
 'Campus',
 'ELIXIR MAN',
 'Ducati',
 'Sir Corbett',
 'CLYMB',
 'Provogue',
 'El Paso',
 'Alishtezia',
 'Nike',
 'Converse',
 'Anouk',
 'Puma',
 'HRX by Hrithik Roshan',
 'Alishtezia',
 'one8 x PUMA',
 'Shezone',
 'mr.wonker',
 'HRX by Hrithik Roshan',
 'HRX by Hrithik Roshan',
 'Puma',
 'HRX by Hrithik Roshan']

In [759]:
descrpt1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(descrpt1)

50

In [760]:
descript1 = []
for i in descrpt1:
    descript1.append(i.text)
descript1

['Women Suede High-Top Flat Boots',
 'Men FlexStreet Athleisure Shoe',
 'Men Solid Tasseled Loafers',
 'Men Colourblocked Sneakers',
 'Men Walking Shoes',
 'Men Court Lite 2 Tennis Shoes',
 'Women Heeled Boots',
 'Men Running Shoes',
 'Men Propel 3D IDP Sneakers',
 'Men Focus One8 IDP Run Shoes',
 'Men Woven Flat Boots',
 'Women Solid Heeled Boots',
 'Men Solid Sneakers',
 'Men Urban Street Shoes',
 'Men Solid Mid-Top Sneakers',
 'Men Lightweight Flat Boots',
 'Men Solid Leather Derbys',
 'Men Solid Leather Loafers',
 'Men Black Sneakers',
 'Men LEBRON 2.0 Walking Shoes',
 'Men Formal Loafers',
 'Unisex PRECISION V FLYEASE',
 'Men Liberate NITRO Running',
 'Men Trekking Shoes',
 'Men Suede Loafers',
 'Men Metalite Running Shoe',
 'Women Running Shoes',
 'Men Slip-On Sneakers Casual Shoes',
 'Women High-Top Flat Boots',
 'Men Running Shoes',
 'Men Sneakers',
 'Men Solid Sneakers',
 'Semi-Formal Shoes',
 'Men Running Shoes',
 'Men Solid Horsebit Loafers',
 'Women Textured Flat Boots',
 'Woman Black Block Heeled Boots',
 'Kids Revolution 4 Running',
 'Men All Star Sneakers',
 'Men Textured Mojaris',
 'Men Clasp IDP Sneakers',
 'Men Urban Street Shoes',
 'Women Walking Shoes',
 'Men Trot IDP Slip-on Run Shoes',
 'Stiletto Pumps',
 'Men Solid Formal Loafers',
 'Marble Knit Running Shoes',
 'Men Fly Sneaker',
 'Men Fire Run IDP Sneakers',
 'Women Running Shoes']

In [761]:
pr1 = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(pr1)

50

In [762]:
price1 = []
for i in pr1:
    price1.append(i.text.split('.')[0]+i.text.split('Rs')[1])
price1

['Rs. 1199',
 'Rs. 1959',
 'Rs. 1399',
 'Rs. 749',
 'Rs. 699',
 'Rs. 4995',
 'Rs. 689',
 'Rs. 739',
 'Rs. 2199',
 'Rs. 2149',
 'Rs. 809',
 'Rs. 1082',
 'Rs. 1839',
 'Rs. 1719',
 'Rs. 2384',
 'Rs. 1199',
 'Rs. 1699',
 'Rs. 898',
 'Rs. 1799',
 'Rs. 2399',
 'Rs. 999',
 'Rs. 5495',
 'Rs. 6499',
 'Rs. 999',
 'Rs. 898',
 'Rs. 2239',
 'Rs. 1999',
 'Rs. 799',
 'Rs. 1234',
 'Rs. 996',
 'Rs. 579',
 'Rs. 2499',
 'Rs. 884',
 'Rs. 794',
 'Rs. 806',
 'Rs. 1082',
 'Rs. 989',
 'Rs. 999',
 'Rs. 3249',
 'Rs. 1649',
 'Rs. 2249',
 'Rs. 1759',
 'Rs. 799',
 'Rs. 2499',
 'Rs. 1499',
 'Rs. 665',
 'Rs. 1619',
 'Rs. 1719',
 'Rs. 1949',
 'Rs. 1119']

In [763]:
next_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
next_btn

In [764]:
next_btn.click()

In [765]:
brnd2 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brnd2)

50

In [766]:
br2 = []
for i in brnd2:
    br2.append(i.text)
br2

['HRX by Hrithik Roshan',
 'Puma',
 'HRX by Hrithik Roshan',
 'AfroJack',
 'House of Pataudi',
 'Roadster',
 'San Frissco',
 'HRX by Hrithik Roshan',
 'her by invictus',
 'Mactree',
 'ZAPATOZ',
 'Shoetopia',
 'Domyos By Decathlon',
 'Fentacia',
 'HRX by Hrithik Roshan',
 'Puma',
 'mr.wonker',
 'HRX by Hrithik Roshan',
 'Puma',
 'U.S. Polo Assn.',
 'HRX by Hrithik Roshan',
 'U.S. Polo Assn.',
 'HRX by Hrithik Roshan',
 'Campus',
 'Mactree',
 'Metro',
 'San Frissco',
 'Mactree',
 'Vishudh',
 'Mochi',
 'Slazenger',
 'Red Tape',
 'HIGHLANDER',
 'HIGHLANDER',
 'Slazenger',
 'Domyos By Decathlon',
 'Slazenger',
 'CLYMB',
 'Slazenger',
 'Mast & Harbour',
 'Alishtezia',
 'Teakwood Leathers',
 'AfroJack',
 'Mactree',
 'HRX by Hrithik Roshan',
 'Red Tape',
 'DEAS',
 'House of Pataudi',
 'Vishudh',
 'Sparx']

In [767]:
descrpt2 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(descrpt2)

50

In [768]:
descript2 = []
for i in descrpt2:
    descript2.append(i.text)
descript2

['Men Fly Sneaker',
 'Men Fire Run IDP Sneakers',
 'Women Running Shoes',
 'Men Printed Sneakers',
 'Men Leather Textured Mules',
 'Men Denim Slip-On Sneakers',
 'Men Semi-Formal Slip-Ons',
 'Men Knit Run 1.0 Running Shoe',
 'Women Croc Textured Pumps',
 'Men Solid Genuine Leather Formal Slip-Ons',
 'Women Walking Shoes',
 'Women Walking Shoes',
 'Men Training & Gym Shoes',
 'Men Perforations Loafers',
 'Women Fly Sneakers',
 'Men Trackracer 2.0 IDP Sneaker',
 'Men Running Shoes',
 'Men Alpha Running shoe',
 'Unisex Striped Sneakers',
 'Men Slip-On Sneakers',
 'Men Urban Outdoor Running Shoe',
 'Men Colourblocked Sneakers',
 'Men Hoop Life Sneakers',
 'Men Running Shoes',
 'Men Solid Genuine Leather Formal Loafers',
 'Women Sandals',
 'Men Solid Formal Loafers',
 'Men Slip-On Sneakers',
 'Women Heels',
 'Men Solid Leather Formal Derbys',
 'Men Woven Design Running Shoes',
 'Unisex Kids Walking Shoes',
 'Men Woven Design Sneakers',
 'Men Sneakers',
 'Men Woven Design Running Shoes',
 'Fitness Slip-on Sports Shoes',
 'Men Woven Design Running Shoes',
 'Men Running Shoes',
 'Men Woven Design Running Shoes',
 'Men Slip-On Sneakers',
 'Women Suede Block Sandals',
 'Men Flat Boots',
 'Men Slip-On Sneakers',
 'Men Solid Genuine Leather Formal Derbys',
 'Men Woven Design Sneakers',
 'Men Solid Leather Formal Derbys',
 'Women Mules Flats',
 'Men Embroidered Mojaris',
 'Women Open Toe Flats',
 'Men SM-487 Running Shoes']

In [769]:
pr2 = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(pr2)

50

In [770]:
price2 = []
for i in pr2:
    price2.append(i.text.split('.')[0]+i.text.split('Rs')[1])
price2

['Rs. 1719',
 'Rs. 1949',
 'Rs. 1119',
 'Rs. 749',
 'Rs. 1519',
 'Rs. 1754',
 'Rs. 1837',
 'Rs. 1574',
 'Rs. 1349',
 'Rs. 998',
 'Rs. 599',
 'Rs. 749',
 'Rs. 1879',
 'Rs. 854',
 'Rs. 1719',
 'Rs. 1749',
 'Rs. 665',
 'Rs. 1919',
 'Rs. 1999',
 'Rs. 2089',
 'Rs. 2749',
 'Rs. 1949',
 'Rs. 2449',
 'Rs. 839',
 'Rs. 998',
 'Rs. 1990',
 'Rs. 1798',
 'Rs. 878',
 'Rs. 629',
 'Rs. 1794',
 'Rs. 999',
 'Rs. 924',
 'Rs. 658',
 'Rs. 895',
 'Rs. 999',
 'Rs. 1749',
 'Rs. 1299',
 'Rs. 649',
 'Rs. 999',
 'Rs. 1449',
 'Rs. 679',
 'Rs. 5249',
 'Rs. 699',
 'Rs. 998',
 'Rs. 1319',
 'Rs. 1699',
 'Rs. 579',
 'Rs. 2599',
 'Rs. 499',
 'Rs. 1529']

In [771]:
brand = br1+br2
len(brand)

100

In [772]:
description = descript1 + descript2
len(description)

100

In [773]:
price = price1 + price2
len(price)

100

In [774]:
shoe = pd.DataFrame()
shoe['Brand'] = brand
shoe['Description'] = description
shoe['Price'] = price
shoe

                    Brand                      Description     Price
0      Street Style Store  Women Suede High-Top Flat Boots  Rs. 1199
1   HRX by Hrithik Roshan   Men FlexStreet Athleisure Shoe  Rs. 1959
2                   Anouk       Men Solid Tasseled Loafers  Rs. 1399
3                AfroJack       Men Colourblocked Sneakers   Rs. 749
4                 MENGLER                Men Walking Shoes   Rs. 699
..                    ...                              ...       ...
95               Red Tape  Men Solid Leather Formal Derbys  Rs. 1699
96                   DEAS                Women Mules Flats   Rs. 579
97       House of Pataudi          Men Embroidered Mojaris  Rs. 2599
98                Vishudh             Women Open Toe Flats   Rs. 499
99                  Sparx         Men SM-487 Running Shoes  Rs. 1529

[100 rows x 3 columns]

Go to webpage https://www.amazon.in/

In [775]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [776]:
url = 'https://www.amazon.in/'
driver.get(url)

In [777]:
search_item = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_item

In [778]:
search_item.send_keys('Laptop')

In [779]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [780]:
search_btn.click()

In [783]:
cpu_filter = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[11]/div/span')
cpu_filter

In [784]:
cpu_filter.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x006C6903+2517251]
	Ordinal0 [0x0065F8E1+2095329]
	Ordinal0 [0x00562710+1058576]
	Ordinal0 [0x0058E324+1237796]
	Ordinal0 [0x00584037+1196087]
	Ordinal0 [0x005A64D3+1336531]
	Ordinal0 [0x00583A36+1194550]
	Ordinal0 [0x005A65BA+1336762]
	Ordinal0 [0x005B5BBF+1399743]
	Ordinal0 [0x005A639B+1336219]
	Ordinal0 [0x005827A7+1189799]
	Ordinal0 [0x00583609+1193481]
	GetHandleVerifier [0x00855904+1577972]
	GetHandleVerifier [0x00900B97+2279047]
	GetHandleVerifier [0x00756D09+534521]
	GetHandleVerifier [0x00755DB9+530601]
	Ordinal0 [0x00664FF9+2117625]
	Ordinal0 [0x006698A8+2136232]
	Ordinal0 [0x006699E2+2136546]
	Ordinal0 [0x00673541+2176321]
	BaseThreadInitThunk [0x76056739+25]
	RtlGetFullPathName_UEx [0x774D8AFF+1215]
	RtlGetFullPathName_UEx [0x774D8ACD+1165]

In [362]:
laptop = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(laptop)

30

In [363]:
lap_title = []
for i in laptop:
    lap_title.append(i.text)
lap_title = lap_title[0:10]
lap_title

['LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'LG Gram 16-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 3 Yr Warranty (16Z90P-G.AH85A2, Black)',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'MSI GF75 Thin Gaming, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512Gb SSD, Win 11 + MSO\'21, 14" (35.56 cms) FHD, Platinum Silver Color, FPR + Backlit KB & Active Pen (Inspiron 5410, D560629WIN9S)',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T']

In [364]:
rt = driver.find_elements_by_xpath('//span[@class="a-icon-alt"]')
len(rt)

28

In [365]:
rate = []
for i in rt:
    rate.append(i.text)
rate

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
pr = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(pr)

In [ ]:
price = []
for i in pr:
    price.append(i.text)
price = price[0:10]
price

Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

In [785]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [786]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [787]:
job = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job

In [788]:
job.click()

In [789]:
design = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
design

In [790]:
design.send_keys('Data Scientist')

In [791]:
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn

In [792]:
search_btn.click()

In [795]:
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location

In [796]:
location.click()

In [797]:
search_loc = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_loc

In [798]:
search_loc.send_keys('Noida')

In [799]:
select = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select

In [800]:
select.click()

In [802]:
jobtitle = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(jobtitle)

10

In [803]:
job_title = []
for i in jobtitle:
    job_title.append(i.text)
job_title

['HCL',
 'Jubilant Foodworks Limited',
 'Ameriprise Financial',
 'Paytm',
 'CHT Sapiense',
 'CHT Sapiense',
 'GI Group',
 'GI Group',
 'GI Group',
 'Cargoflash']

In [804]:
rate = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rate)

10

In [805]:
rating=[]
for i in rate:
    rating.append(i.text)
rating

['3.8', '3.9', '4.0', '3.7', '3.8', '3.8', '4.1', '4.1', '4.1', '3.8']

In [806]:
post = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(post)

20

In [807]:
post_ago = []
post_day = []
for i in post:
    post_ago.append(i.text)
for i in range(0,len(post_ago)-1,2):
    post_day.append(post_ago[i])
post_day

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '24d ago',
 '24d ago',
 '24d ago',
 '1d ago']

In [808]:
job = pd.DataFrame()
job['Company Name'] = job_title
job['Rating'] = rating
job['Post age'] = post_day
job

                 Company Name Rating Post age
0                         HCL    3.8   2d ago
1  Jubilant Foodworks Limited    3.9   2d ago
2        Ameriprise Financial    4.0   4d ago
3                       Paytm    3.7  10d ago
4                CHT Sapiense    3.8  11d ago
5                CHT Sapiense    3.8  12d ago
6                    GI Group    4.1  24d ago
7                    GI Group    4.1  24d ago
8                    GI Group    4.1  24d ago
9                  Cargoflash    3.8   1d ago

Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [809]:
driver = webdriver.Chrome(r'C:\Users\praja\Downloads\chromedriver_win32\chromedriver.exe')

In [810]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [811]:
salary = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary

In [812]:
salary.click()

In [813]:
job_profile = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_profile

In [814]:
job_profile.send_keys('Data Scientist')

In [815]:
datasci = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
datasci

In [816]:
datasci.click()

In [817]:
name = driver.find_elements_by_xpath('//div[@class="name"]')
len(name)

10

In [818]:
comp =[]
company = []
salary = []
for i in name:
    comp.append(i.text.split('\n'))
for i in range(len(comp)):
    company.append(comp[i][0])
    salary.append(comp[i][1])
company,salary

(['Walmart',
  'Ab Inbev',
  'ZS',
  'Fractal Analytics',
  'Optum',
  'UnitedHealth',
  'Tiger Analytics',
  'Verizon',
  'Ganit Business Solutions',
  'Ericsson'],
 ['based on 10 salaries',
  'based on 22 salaries',
  'based on 14 salaries',
  'based on 72 salaries',
  'based on 23 salaries',
  'based on 49 salaries',
  'based on 27 salaries',
  'based on 14 salaries',
  'based on 13 salaries',
  'based on 42 salaries'])

In [819]:
avrg = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(avrg)

10

In [820]:
average = []
for i in avrg:
    average.append(i.text)
average

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [821]:
mini = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(mini)

20

In [822]:
mini1 = []
minimum = []
maximum = []
for i in mini:
    mini1.append(i.text)
for i in range(0,len(mini1)-1,2):
    minimum.append(mini1[i])
    maximum.append(mini1[i+1])
minimum, maximum

(['₹ 17.7L',
  '₹ 15.0L',
  '₹ 9.8L',
  '₹ 9.5L',
  '₹ 11.0L',
  '₹ 7.2L',
  '₹ 8.3L',
  '₹ 10.0L',
  '₹ 8.5L',
  '₹ 5.8L'],
 ['₹ 35.0L',
  '₹ 25.0L',
  '₹ 20.0L',
  '₹ 22.0L',
  '₹ 21.3L',
  '₹ 20.5L',
  '₹ 18.5L',
  '₹ 21.0L',
  '₹ 15.0L',
  '₹ 21.5L'])

In [823]:
expr = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(expr)

10

In [824]:
expr1 = []
experience =[]
for i in expr:
    expr1.append(i.text.split('\n'))
for i in range(len(expr1)):
    experience.append(expr1[i][2])
experience

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [825]:
job = pd.DataFrame()
job['Company Name'] = company
job['Salaries'] = salary
job['Avrg salary'] = average
job['Min Salary'] = minimum
job['Max salary'] = maximum
job['Experience'] = experience
job

,Company Name,Salaries,Avrg salary,Min Salary,Max salary,Experience
0,Walmart,based on 10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs exp
1,Ab Inbev,based on 22 salaries,₹ 19.5L,₹ 15.0L,₹ 25.0L,3-4 yrs exp
2,ZS,based on 14 salaries,₹ 15.8L,₹ 9.8L,₹ 20.0L,2 yrs exp
3,Fractal Analytics,based on 72 salaries,₹ 15.0L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
4,Optum,based on 23 salaries,₹ 15.0L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
5,UnitedHealth,based on 49 salaries,₹ 13.5L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
6,Tiger Analytics,based on 27 salaries,₹ 13.5L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
9,Ericsson,based on 42 salaries,₹ 11.9L,₹ 5.8L,₹ 21.5L,3-4 yrs exp